<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Gig Harbor Bog Creature Submitter</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">

        <h3 class="text-muted"></h3>
      </div>

      <div class="jumbotron">
        <h1>Help your community!</h1>
        <p class="lead">Become an active member of Gig Harbor and help our scientists monitor global warming levels through monitoring bog creatures. </p>
        <p class="btn btn-lg btn-success"> <%= link_to 'Add Creature', new_article_path %></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Ants on a log</h4>
          <p>Learn about when it is not okay to eat ants on a log. </p>

          <h4>I Like Turtles</h4>
          <p>With toxic sea levels rising, could we see real life mutant ninja turtles? Science is about to prove it's possible. </p>

          <h4>Girafish</h4>
          <p>What do you get when you cross a Giraffe with a fish? A Girafish. </p>
        </div>

      <footer class="footer">
        <p>&copy; Gig Harbor Biology Group 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>